*{
    margin:0;
    padding:0;
    list-style:none;
}
a,u{
    text-decoration:none;
    color:#000;
}
i,em{
    font-style:normal;
}
b{
    font-weight:normal;
}
html,body,.wrap{
    width: 100%;
    height:100%;
    font-size:.52rem;
   
}
.wrap{
    display:flex;
    flex-direction:column;
}
header{
    height:1.46rem;
    background:#393A3F;
    color:#fff; 
    display:flex; 
    justify-content:space-between;
    align-items:center;
    padding:0 .49rem;
    b{
        width: 60%;  
    }
    u{
        color:#fff; 
    }
}
section{
    flex:1;
    overflow-y:scroll;
    .swiper-container{ 
            width: 100%; 
        .swiper-slide{   
            img{
                width:100%;  
                display:inline-block;
            }
        }          
    }
    .box{
        display:flex;
        flex-direction:column;
        padding:0 .61rem;
        .top{
            display:flex;
            margin-top:.58rem;
            b{
                flex:1;
                display:flex;
                flex-direction:column;
                justify-content:center;
                align-items: center; 
                color:#999999;
                i{
                    text-align: center;
                    line-height: 1.09rem;
                    width:1.09rem;
                    height:1.09rem;
                    border-radius:50%;
                    border:.05rem solid #ccc;
                    font-size:.55rem!important;
                } 
               u{
                   margin-top:.3rem;
                   font-size:.35rem; 
               }  
            }
            &:nth-child(1){
                b{
                    &:nth-child(1){
                        i{
                            color:#E93B3D;
                        }
                    }
                    &:nth-child(2){
                        i{
                            color:#D62A2C
                        }
                    }
                    &:nth-child(3){
                        i{
                            color: #A56742
                        }
                    }
                    &:nth-child(4){
                        i{
                            color: #DD78B1
                        }
                    }
                    &:nth-child(5){
                        i{
                            color: #38ACAA
                        }
                    }
                }
            }
            &:nth-child(2){
                b{
                    &:nth-child(1){
                        i{
                            color:#DA8F11;
                        }
                    }
                    &:nth-child(2){
                        i{
                            color:#984676;
                        }
                    }
                    &:nth-child(3){
                        i{
                            color: #DA8F11;
                        }
                    }
                    &:nth-child(4){
                        i{
                            color: #5E6C90;
                        }
                    }
                    &:nth-child(5){
                        i{
                            color:#666666;
                        }
                    }
                }
            }
        }
    }
    .tu{ 
        margin-top:.63rem;
        img{
            margin-left:10%;
            width:90%;
            height:auto;
        }
    }
    .bottom{
        background:#F7F7F7;
        display:flex;
        height:3.14rem;
        b{
            flex:2.5;
            display:flex;
            flex-direction: column;
            align-items: center;
            margin-top:1.07rem;
            span{
                font-weight:bold;
                font-size:.6rem;
            }
            em{
                font-size:.2rem;
            }
            img{
                width:.87rem;
                height:.48rem;
            }
        }
        u{
            flex:6;
            background: #fff;
            display:flex;
            margin-top:.3rem; 
            .left{
                margin-top:.4rem;
            }
            .right{
                margin-top:.4rem;
                img{
                    width:2.2rem;
                    height:2.24rem;
                }
            }
        }
        i{
            flex:1.5;
        }
    }
}
footer{
     height:1.46rem;
     display:flex;
     b{
         flex:1;
         display:flex;
         flex-direction:column;
         justify-content:center;
         align-items: center; 
         color:#999999;
         i{
             font-size:.65rem!important;
         } 
        u{
            font-size:.35rem;
            color:#999999;
        }  
        &:first-child{
            color:#E93B3D;
            u{
                color:#E93B3D;
            }
        } 
     }
}